<%= stylesheet_link_tag "sessions", :media => "all" %>
<div class = "container">
    <h1>ログイン</h1>
    <% if flash[:error].present? %>
        <p class = "error"><%= flash[:error] %></p>
    <% end %>
   <%= form_with url:"signin" do |f| %>
      <%= f.label :メールアドレス%>
      <%= f.email_field :email,placeholder:"example@gmail.com" %>
      <%= f.label :パスワード%>
      <%= f.password_field :password %>
      <br>
      <%= f.submit "ログイン",class: 'submit'%>
    <% end %>
  </div>