<%= stylesheet_link_tag "users", :media => "all" %>
<div class = "container">
  <h1>新規登録</h1>
  <% if flash[:error].present? %>
      <% flash[:error].each do |e| %>
        <p class = "error"><%= e %></p>
      <% end %>
    <% end %>
  <%= form_with model: @user do |f| %>
    <%= f.label :名前%>
    <%= f.text_field :name,placeholder:"名前" %>
    <%= f.label :メールアドレス%>
    <%= f.email_field :email,placeholder:"example@gmail.com" %>
    <%= f.label :パスワード%>
    <%= f.password_field :password %>
    <%= f.label :パスワード確認%>
    <%= f.password_field :password_confirmation %>
    <br>
    <%= f.submit "会員登録",class: 'submit'%>
  <% end %>
</div>