<%= stylesheet_link_tag "attendances", :media => "all" %>
<div class="container">
  <p>勤務表</p>
  <%= form_tag(attendances_path, method: :get) do %>
    <%= month_field :year_month,'',class:"year-month-field"%>
    <%= submit_tag "選択",class:"year-month-choice" %>
  <% end %>
    <h1><%= "#{@month}月の勤務表" %></h1>
    <table>
      <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出社時間</th>
        <th>退社時間</th>
        <th>拘束時間</th>
        <th>勤務時間</th>
        <th>休憩時間</th>
      </tr>
      </thead>

      <% (Date.parse(@start_date.to_s)..Date.parse(@end_date.to_s)).each do |date| %>
        <% attendance = @attendances[date] || ActiveDecorator::Decorator.instance.decorate(Attendance.new) %>
        <tr>
          <td><%= date.strftime("%m月%d日") %></td>
          <td><%= @wdays[date.wday] %></td>
          <td><%= attendance.work_in_view_data %> </td>
          <td><%= attendance.work_out_view_data %> </td>
          <td><%= attendance.restraint_time_view_data %> </td>
          <td><%= attendance.work_time_view_data %> </td>
          <td><%= attendance.break_time_view_data %> </td>
        </tr>
      <% end %>
      <tr>
        <th colspan="4"></th>
        <th>拘束時間</th>
        <th>労働時間</th>
        <th>休憩時間</th>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td><%= MonthAttendanceCollection.new(@attendances).restraint_time %></td>
        <td><%= MonthAttendanceCollection.new(@attendances).work_time %></td>
        <td><%= MonthAttendanceCollection.new(@attendances).break_time %></td>
      </tr>

    </table>
</div>