<h1>登録</h1>

<div>
  <p id="item"></p>
  <% puts @record %>
  <% puts "hogehogesos" %>
  <%= @record.work_in_button  %>
  <%= @record.break_in_button  %>
  <%= @record.break_out_button  %>
  <%= @record.work_out_button  %>
</div>


<%= javascript_include_tag 'attendance_new' %>