<h1>登録</h1>

<div>
  <p id="item"></p>
</div>

<%= button_to "出勤", attendances_work_in_path %>
<%= button_to "休憩開始", attendances_break_in_url %>
<%= button_to "休憩完了", attendances_break_out_path %>
<%= button_to "退勤", attendances_work_out_path %>

<%= javascript_include_tag 'attendance_new' %>