<h1>登録</h1>

<div>
  <p id="item"></p>
  <%= @record.work_in_button  %>
  <%= @record.break_in_button  %>
  <%= @record.break_out_button  %>
  <%= @record.work_out_button  %>
</div>
<h2><%= @record.worker_status %></h2>

<%= link_to "勤務表確認", attendances_path %>
<%= javascript_include_tag 'attendance_new' %>